<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="dt-example">
		<div class="container">
    		<section>
    			<h1>OpenMarkets<span>Now</span> <small> Capital never sleeps.</small> <a href="https://github.com/caowenwei/OpenMarketsNow" target="_blank"><i class="fa fa-github-square"></i> info</a></h1>

    			<table id="example" class="display nowrap" cellspacing="0" width="100%">
    				<thead>
    					<tr>
    						<th>Exchange</th>
    						<th>Status</th>
    						<th>Index</th>
                            <th>Value</th>
                            <th>Change%</th>
                            <th>Local time</th>
    						<th>Open</th>
    						<th>Close</th>
    						<th>Lunch</th>
                            <th>Time to close</th>
    					</tr>
    				</thead>

					<tfoot>
					  <tr>
						<th>Exchange</th>
						<th>Status</th>
						<th>Index</th>
						<th>Value</th>
						<th>Change%</th>
						<th>Local time</th>
						<th>Open</th>
						<th>Close</th>
						<th>Lunch</th>
						<th>Time to close</th>
					  </tr>
					</tfoot>
    			</table>
    		</section>
    	</div>

    {% include js.html %}
    {% include analytics.html %}
    </body>
</html>
